body{
     font-family: "Plus Jakarta Sans", sans-serif !important;
     display: flex;
     flex-direction: column;
     min-height: 100vh;
}
.container{
    flex: 1;
}
/* navbar */
.navbar{
    height: 5rem;
    background-color: white;
}

.fa-compass{
    color: #FF5A5F;
    font-size: 2rem;
}
.nav-link{
    color: #222 !important;
}

/* footer */
.f-info-link a{
    text-decoration: none;
    color: #222;
}
.f-info-link a:hover{
    text-decoration: underline;
}

.f-info-social{
    margin-left: 3rem;
}
.f-info-social i{
    font-size: 1.2rem;
    margin-right: 1rem;
}
.f-info-social, .f-info-link , .f-info-brand{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}
.f-info{
    background-color: #F2F0EF;
    height: 8rem;
    text-align: center;
   display: flex;
   flex-wrap: wrap;
   align-items: space-evenly ;
   justify-content: center;

}

/* cards */
.listing-card{
    border: none !important;
    margin-bottom: 2rem;
  
}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}
.card-body{
    padding: 0 !important;
}
.card-text{
    font-size: 400;
}

.listing_link{
    text-decoration: none;
}

/* card effect */
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

/* new listings */
.btn-new{
    background-color: #FF5A5F !important;
    border: none !important;
}

/* edit */

.edit-btn{
     background-color: #FF5A5F !important;
    border: none !important;
}

/* show */

.show-img{
    height: 30vh;
    
}

.btns{
    display: flex;
}
#map{
  height:400px;
  width:80vh;
  border-radius:10px;
}